# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# Database conf
DATABASE_URL="DATABASE://USERNAME:PASS@HOST:PORT/DATABASE_NAME?schema=public"

# Connection conf
HOST="localhost"
PORT=3000

# Email Verification conf
EMAIL_USER="USER_EMAIL"
EMAIL_PASS="USER_APP_PASSWORD"

# JWT Secret Key
JWT_SECRET="JWT_SECRET_KEY"

UPSTASH_REDIS_REST_URL="UPSTASH_REDIS_REST_URL"
UPSTASH_REDIS_REST_TOKEN="UPSTASH_REDIS_REST_TOKEN"

# Node env production/development ganti dengan production jika udah siap, take your time weh ;)
NODE_ENV="development"

LOCATIONIQ_KEY="LOCATIONIQ_KEY"
BASE_URL="https://www.emsifa.com/api-wilayah-indonesia/api/"

